# Dependencies
node_modules/

# Production build outputs
dist/
build/
out/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs & Editor configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# OS artifacts
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# Package manager logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Project-specific local brainstorms
UX
UX.txt
